.green35 {
    background: none;
    background: #078d02 !important;
    border-radius: 3px;
    width: 100%;
  }
  .green30 {
    background: #069b00de !important;
    border-radius: 3px;
    width: 100%;
  }
  .green25 {
    background: #08c000e3 !important;
    border-radius: 3px;
    width: 100%;
  }
  .green20 {
    background: #09d900c7 !important;
    border-radius: 3px;
    width: 100%;
  }
  .green15 {
    background: #0deb04a8 !important;
    border-radius: 3px;
    width: 100%;
  }
  .green10 {
    background: #0deb046e !important;
    border-radius: 3px;
    width: 100%;
  }
  .green5 {
    background: #0deb0447 !important;
    border-radius: 3px;
    width: 100%;
  }
  .green0 {
    background: #0deb041f !important;
    border-radius: 3px;
    width: 100%;
  }
  .white {
    background: #fff !important;
    border-radius: 3px;
    width: 100%;
  }